/* font-family: Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root{
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}
html{
    font-size: 62.5%;
    overflow-x: clip;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color)
}
.header{
    position: sticky;
    top:0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 3.5rem;
}
.navbar ul li a{
    display: inline-block;
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    transition: .3s;
}
.navbar ul li a:hover, .navbar a.active{
    color: var(--main-color);
    transform: scale(1.1);
    text-shadow: 0 0 1rem var(--main-color);
}
#menu-icon{
    /* display: none; */
    color: var(--text-color);
    font-size: 3.6rem;
    cursor: pointer;
    display: none;
}
/* navigation style end */

